doctype html
html
  head
    meta(name="viewport", content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no")
    title Jungle

    style. body {margin:0px;padding:0px;}

  body
    #enchant-stage
      
  script(src="js/enchant-0.8.1.min.js")
  script(src="js/Box2dWeb-2.1.a.3.js")
  script(src="js/plugins/box2d.enchant.js")
  script(src="init.js")
  script(src="game.js")